---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import { Card, Pagination } from 'accessible-astro-components'
import { getCollection } from 'astro:content'
import type { GetStaticPaths } from 'astro'
import authorsJson from './_authors.json'

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection('blog')
  
  
  // Sort posts by publish date, newest first
  const sortedPosts = posts.sort((a, b) => {
    return b.data.publishDate.getTime() - a.data.publishDate.getTime()
  })

  const postsWithImages = await Promise.all(
    sortedPosts.map(async (post) => {
      let featuredImage: string | undefined

      if (post.data.featuredImage) {
        const imageModule = await import(`../../content/blog/${post.data.slug}/${post.data.featuredImage}`)
        featuredImage = imageModule.default
      }

      return {
        ...post,
        featuredImage,
        slug: post.data.slug,
      }
    })
  )

  return paginate(postsWithImages, {
    pageSize: 6,
  })
}) satisfies GetStaticPaths


const { page } = Astro.props

// ----- Author Lookup -----
type Author = {
  name: string
  image: string
  bio: string
}

const authors = authorsJson as Record<string, Author>
---

<DefaultLayout
  title="Blog"
  description="Blog posts from DUCA about cybersecurity, development, and our events."
>
  <PageHeader
    title="Blog"
    subtitle="Read our latest articles about cybersecurity, student success, and our events."
    bgType="bordered"
  />

  <section class="my-12">
    <div class="container">
      <p class="text-sm"><em>Post {page.start + 1} through {page.end + 1} of {page.total} total posts</em></p>
      <ul class="my-3 grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
        {
          page.data.map((post) => {
            const author = authors[post.data.author]
            const authorName = author ? author.name : post.data.author

            return (
              <li>
                <Card
                  imageComponent={post.featuredImage}
                  url={'/blog/' + post.data.slug}
                  title={post.data.title}
                  headingLevel="h2"
                  footer={`Author: ${authorName}`}
                  fullHeight={true}
                >
                  {post.data.description}
                </Card>
              </li>
            )
          })
        }
      </ul>
      {
        page && page.lastPage > 1 && (
          <div class="mt-12 grid place-content-center">
            <Pagination
              firstPage={page.url.prev ? '/blog' : null}
              previousPage={page.url.prev ? page.url.prev : null}
              nextPage={page.url.next ? page.url.next : null}
              lastPage={page.url.next ? `/blog/${page.lastPage}` : null}
              currentPage={`${page.currentPage}`}
              totalPages={`${page.lastPage}`}
              ariaLabel="Blog pagination"
            />
          </div>
        )
      }
    </div>
  </section>
</DefaultLayout>
