---
import { Card, Heading, Link } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
import { getCollection } from 'astro:content'
import authorsJson from '../pages/blog/_authors.json'

/**
 * FeaturedPosts Component
 *
 * @description A component that displays featured blog posts from the content collection
 */
interface Props {
  /**
   * Additional classes to apply to the section
   */
  class?: string
  /**
   * The number of posts to display
   * @default 3
   */
  limit?: number
  /**
   * The title for the section
   * @default "Latest posts"
   */
  title?: string
}

const { class: className, limit = 3, title = 'Latest blog posts' } = Astro.props

type Author = {
  name: string
  image: string
  bio: string
}
const authors = authorsJson as Record<string, Author>

// Get posts from content collection
const allPosts = await getCollection('blog')

// Sort posts by publish date, newest first
const sortedPosts = allPosts.sort((a, b) => {
  return b.data.publishDate.getTime() - a.data.publishDate.getTime()
})

// Process and limit posts for featured section
const featuredPosts = await Promise.all(
  sortedPosts.slice(0, limit).map(async (post) => {
    let featuredImage: string | undefined = undefined

    if (post.data.featuredImage) {
      const imageModule = await import(`../content/blog/${post.data.slug}/${post.data.featuredImage}`)
      featuredImage = imageModule.default
    }

    const author = authors[post.data.author]
    const authorName = author ? author.name : post.data.author

    return {
      ...post,
      featuredImage,
      slug: post.data.slug,
      authorName,
    }
  })
)
---

<section class:list={[className, 'my-64']}>
  <div class="container">
    <Heading level="h2" class="mb-6">{title}</Heading>
    <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
      {
        featuredPosts.map((post) => (
          <Card
            imageComponent={post.featuredImage}
            url={'/blog/' + post.data.slug}
            headingLevel="h2"
            title={post.data.title}
            footer={`Author: ${post.authorName}`}
          >
            {post.data.description}
          </Card>
        ))
      }
    </div>
    <div class="mt-12">
      <Link href="/blog/" isButton animateOnHover animationType="nudge">
        Read all blog posts
        <Icon aria-hidden="true" name="lucide:arrow-right" size="1.5rem" />
      </Link>
    </div>
  </div>
</section>
